*{
  margin: 0;
  padding: 10px 10px;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}

html,
body{
  height: 100%;
  width: 100%;
}


button{
  padding: 10px;
  color: beige;
  background-color: blueviolet;
  border-radius: 50%;
}

